<!DOCTYPE html>
<html ng-app="myApp">
<head>
   <title>The Most Annoying ToDo List in the World</title>
   <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
   <link type="text/css" rel="stylesheet" href="Assets/CSS/styles.css">
</head>
<body>
   <div class='content' ng-controller = "GreetingController">
      <h1>{{greeting}}</h1>

      <form>
      <label>To-Do Name
         <input ng-model="todo.name" type = "text">
      </label>
      <label>To-Do Time
         <input type = "text" ng-model="todo.time">
      </label>
      <label>To-Do Date
         <input type = "text" ng-model="todo.date">
      </label>
      <label>To-Do Details
         <textarea ng-model="todo.details"></textarea>
      </label>
      <button type="submit">Add To-Do</button>
      </form>
      <div class = 'sweetTwoWayDataBinding'>
         <h1>{{todo.name}}</h1>
         <p>{{todo.time}}</p>
         <p>{{todo.date}}</p>
         <p>{{todo.details}}</p>
      </div>
      <ul ng-repeat="todo in todos">

         <li>{{todo.name}}</li>
         <li>{{todo.time}}</li>
         <li>{{todo.date}}</li>
         <li>{{todo.details}}</li>
         <li class = 'remove'>X</li>
      </ul>
   <ng-view></ng-view><!-- I'm going to try and get this into partials later, but for now I'm' going to get it done the good old fashioned way. -->
   </div>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>
   <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
   <script src="Assets/JS/app.js"></script>
   <script src="Assets/JS/controllers.js"></script>
</body>
</html>
